mixin about
  section.about&attributes(attributes)
    .about__inner.container
      h2.about__heading.heading О компании
      .about__content
        .about__column
          picture
            source(media='(min-width: 728px)' srcset=`img/about/port-desktop.webp 1x, img/about/port-desktop.webp 2x`)
            source(media='(min-width: 421px)' srcset=`img/about/port-tablet.webp 1x, img/about/port-tablet.webp 2x`)
            img(src='img/about/port.webp' srcset='img/about/port@2x.webp 2x' alt='Погрузка контейнеров в порту.' loading='lazy')
          p Отличительной особенностью ООО "К-Логистик" является индивидуальный подход к каждому клиенту. Специалисты компании внимательно изучают потребности заказчика и предлагают наиболее подходящие условия сотрудничества. Это позволяет клиентам сэкономить время, деньги и быть уверенным в сохранности своего груза.
          p ООО "К-Логистик" предоставляет качественные услуги по перевозке грузов со всего мира в Россию и страны ближнего зарубежья. Компания специализируется на перевозке как стандартных, так и негабаритных, тяжеловесных и опасных грузов, что позволяет удовлетворять потребности клиентов различных отраслей.
        .about__column
          picture
            source(media='(min-width: 728px)' srcset=`img/about/ship-desktop.webp 1x, img/about/ship-desktop.webp 2x`)
            source(media='(min-width: 421px)' srcset=`img/about/ship-tablet.webp 1x, img/about/ship-tablet.webp 2x`)
            img(src='img/about/ship.webp' srcset='img/about/ship@2x.webp 2x' alt='Сухогруз, плывущий по морю.' loading='lazy')
          p #[b.accent ООО "К-Логистик"] – это транспортно-экспедиционная компания, основанная в 2014 году и успешно работающая на рынке уже более 8 лет. Компания зарекомендовала себя как надежный и профессиональный партнер, готовый предложить своим клиентам широкий спектр услуг в области грузоперевозок и экспедирования.
          p Основные принципы работы ООО "К-Логистик": надежность, безопасность и оперативность. В своей работе компания использует только проверенных партнеров, а также разрабатывает оптимальные маршруты движения для сокращения сроков доставки грузов.
    +branches(class='about__branches')
