mixin advantages
  section.advantages(id='advantages' data-menu-link-target)&attributes(attributes)
    .advantages__inner.container
      h2.advantages__heading.heading Важные условия,#[br] которые мы соблюдаем
      ul.advantages__list
        li.advantages__item Оформим всё с&nbsp;соблюдением законодательства
        li.advantages__item Наша компания-нерезидент возьмёт на&nbsp;себя оплату товара поставщикам
        li.advantages__item Организуем оптимальный маршрут доставки без&nbsp;заезда в&nbsp;третьи страны
        li.advantages__item Мы работаем с&nbsp;разными типами грузов, в&nbsp;том&nbsp;числе санкционными
