mixin branches
  section.branches&attributes(attributes)
    .branches__inner.container
      h3.branches__heading.heading.heading--size_s.accent Филиалы
      ul.branches__list
        li.branches__item.branch
          h4.branch__title ООО “К-Логистик"
          p.branch__country Россия
          p.branch__address Нижегородская область, г.&nbsp;Бор, переулок Воровского&nbsp;9-31
          a.branch__phone(href='tel:+78312229445') +7 (831) 222 94 45
          img.branch__flag(src='img/flags/russia.svg' width='186' height='136' alt='Флаг России.' loading='lazy')
        li.branches__item.branch
          h4.branch__title ОсОО "ТехКонсалт"
          p.branch__country Кыргызстан
          p.branch__address г.&nbsp;Бишкек, ул.&nbsp;Юсупа Абдрахманова&nbsp;166, офис&nbsp;47
          a.branch__phone(href='tel:+79308117110') +7(930) 811 71 10
          img.branch__flag(src='img/flags/kyrgyzstan.svg' width='186' height='136' alt='Флаг Кыргызстана.' loading='lazy')
