mixin branches
  section.branches&attributes(attributes)
    .branches__inner.container
      h2.branches__heading.heading Филиалы
      ul.branches__list
        li.branches__item
          h3.branches__title ООО “К-Логистик"
          p.branches__country Россия
          p.branches__address Нижегородская область, город Бор, переулок Воровского 9-31
          a.branches__phone(href='tel:+78312229445') +7 (831) 222 94 45
          img.branches__flag(src='img/flags/russia.svg' width='186' height='136' alt='Флаг России.')
        li.branches__item
          h3.branches__title ОсОО "ТехКонсалт"
          p.branches__country Кыргызстан
          p.branches__address г. Бишкек, ул Юсупа Абдрахманова 166, офис 47
          a.branches__phone(href='tel:+79308117110') +7 (930) 811 71 10
          img.branches__flag(src='img/flags/kyrgyzstan.svg' width='186' height='136' alt='Флаг Кыргызстана.')
