mixin burger
  button.burger(type='button' aria-expanded='false')&attributes(attributes)
    span.burger__line
    span.burger__line
    span.burger__line
    span.burger__line
    span.visually-hidden Меню
