mixin button({ tag, text, type, href, target, rel })
  if tag === 'button'
    button.button(type= type)&attributes(attributes)
      span.button__text= text
  else if tag === 'a'
    a.button(href= href target= target rel= rel)&attributes(attributes)
      span.button__text= text
