mixin delivery-types
  section.delivery-types&attributes(attributes)
    .delivery-types__inner.container
      h2.delivery-types__heading.heading Виды доставок
      ul.delivery-types__list
        li.delivery-types__item Авто
          img.delivery-types__image(src='img/icons.svg#delivery-types_auto' width='56' height='56' alt='Автомобиль.' loading='lazy')
        li.delivery-types__item Морские
          img.delivery-types__image(src='img/icons.svg#delivery-types_ship' width='56' height='56' alt='Корабль.' loading='lazy')
        li.delivery-types__item Железно-дорожные
          img.delivery-types__image(src='img/icons.svg#delivery-types_train' width='56' height='56' alt='Поезд.' loading='lazy')
        li.delivery-types__item Авиа
          img.delivery-types__image(src='img/icons.svg#delivery-types_airplane' width='56' height='56' alt='Самолёт.' loading='lazy')
