mixin hero
  section.hero&attributes(attributes)
    .hero__inner.container
      p.hero__slogan Доставим #[b.accent санкционный] товар в&nbsp;Россию из&nbsp;любой точки мира
      +button({
        tag: 'a',
        href: '#',
        text: 'Заказать доставку'
      })(class='hero__button button--primary')
      img.hero__image(src='img/route.svg' width='1146' height='194' alt='Точки на планете, составляющие маршрут.')
