mixin request-form({ heading, size, submitButtonText, withSubmitComment, withTextArea, modal })
  form.request-form(
    action='https://echo.htmlacademy.ru'
    method='post'
    class= modal ? 'request-form--modal' : false
  )&attributes(attributes)
    if heading
      h2.request-form__heading.heading.heading--size_s= heading
    fieldset.request-form__section
      +text-field({
        label: 'Имя:',
        name: 'name',
        type: 'text',
        placeholder: 'Имя',
        isRequired: true,
        size: size
      })(class='request-form__item request-form__item--name')
      +text-field({
        label: 'Телефон:',
        name: 'tel',
        type: 'tel',
        placeholder: 'Телефон',
        isRequired: true,
        maxLength: 18,
        size: size
      })(class='request-form__item request-form__item--tel')
      if withTextArea
        +textarea({
          label: 'Сообщение:',
          name: 'message',
          placeholder: 'Ваше сообщение',
          maxLength: 1000,
          size: size
        })(class='request-form__item request-form__item--wide')
    .request-form__footer
      +button({
        tag: 'button',
        type: 'submit',
        text: submitButtonText
      })(class='request-form__submit-button button--secondary')
      if withSubmitComment
        small.request-form__submit-comment Нажимая кнопку, я даю согласие на&nbsp;обработку персональных данных
