mixin services
  section.services(id='services' data-menu-link-target)&attributes(attributes)
    .services__inner
      h2.services__heading.heading Услуги
      .services__image-wrapper
        img.services__image(src='img/services.webp' width='460' height='551' alt='Грузовой транспорт.' loading='lazy')
        .services__badge-wrapper.sub-theme.sub-theme--dark
          +badge(class='services__badge badge--alter')
      ul.services__list
        li.services__item Заключение контракта и оплата зарубежному поставщику
        li.services__item Экспортное таможенное оформление на территории иностранного государства
        li.services__item Доставка груза
        li.services__item Консолидация грузов на складе на территории Европы с дальнейшей отправкой покупателю в РФ
        li.services__item Содействие в получение разрешительной документации на территории РФ
        li.services__item Содействие в таможенном оформлении на территории РФ
      +button({
        tag: 'a',
        href: '#',
        text: 'Заказать консультацию'
      })(class='services__button button--secondary')
