mixin services
  section.services(id='services' data-menu-link-target)&attributes(attributes)
    .services__inner
      h2.services__heading.heading Услуги
      .services__image-wrapper
        img.services__image(src='img/services.webp' width='460' height='551' alt='Грузовой транспорт.' loading='lazy')
        .services__badge-wrapper.sub-theme.sub-theme--dark
          +badge(class='services__badge badge--alter')
      ul.services__list
        li.services__item Заключение контракта и&nbsp;оплата зарубежному поставщику
        li.services__item Экспортное таможенное оформление на&nbsp;территории иностранного государства
        li.services__item Доставка груза
        li.services__item Консолидация грузов на&nbsp;складе на&nbsp;территории Европы с&nbsp;дальнейшей отправкой покупателю в&nbsp;РФ
        li.services__item Содействие в&nbsp;получении разрешительной документации на&nbsp;территории РФ
        li.services__item Содействие в&nbsp;таможенном оформлении на&nbsp;территории РФ
      +button({
        tag: 'a',
        href: '#request',
        text: 'Заказать консультацию'
      })(class='services__button button--secondary' data-modal-opener='request')
