extends layout/layout

block variables
  - var title = 'K LOGISTIK'
  - var pageClass = 'index-page'

block content
  h1.visually-hidden Главная
  +hero
  +request
  +advantages
  +services
  +delivery-types
  +cargo-types
  +about
  +branches
