extends layout/layout

block variables
  - var title = 'K LOGISTIK'
  - var pageClass = 'index-page'

block content
  h1.visually-hidden Главная
  +hero
  +advantages(class='page__advantages')
  +services(class='page__services')
  +delivery-types(class='page__delivery-types')
  +cargo-types(class='page__cargo-types')
  +request(class='page__request')
  +about(class='page__about')
