.button {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  text-align: center;
  font: 400 16px/22px $main-font-family;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.button--primary {
  padding: 16px 32px;
  border-radius: 10000px;
  background: var(--text-color);
  color: var(--background-color);
}

.button--secondary {
  padding: 16px 32px;
  border-radius: 10000px;
  background: var(--accent-color);
}
