.text-field {
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $laptop-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.text-field__inner {
  display: block;
}

.text-field__control-wrapper {
  --box-shadow-color: var(--accent-color);

  display: block;
  border-bottom: 1px solid currentColor;
  box-shadow: 0 0 0 0 var(--box-shadow-color);
  transition-property: border-color, box-shadow;
  transition-duration: $little-interaction-duration;
  transition-timing-function: $little-interaction-timing-function;

  &:hover {
    border-color: var(--accent-color);
  }

  &:focus-within {
    border-color: var(--accent-color);
    box-shadow: 0 2px 0 0 var(--box-shadow-color);
  }
}

.text-field__control {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  border: none;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  outline: none;

  &::placeholder {
    opacity: 0.6;
    color: inherit;
  }
}

.text-field--size_s {
  .text-field__control {
    padding: 12px 16px 10px;
  }
}

.text-field--size_m {
  .text-field__control {
    padding: 12px 16px 10px;

    @media (min-width: $laptop-width) {
      padding: 19px 16px 18px;
    }
  }
}

.text-field.invalid .text-field__control-wrapper {
  --box-shadow-color: var(--error-color);
  border-color: var(--error-color);
}

.text-field .prompt-text {
  margin: 5px 0 0;
  font-size: 16px;
  line-height: 20px;
  color: var(--error-color);
}
