// Viewports
$wide-mobile-width: 400px;
$tablet-width: 768px;
$wide-tablet-width: 980px;
$laptop-width: 1240px;

// Fonts
$main-font-family: "Merriweather", "Times New Roman", serif;

// Sizes
$centerer-max-width: 1160px;

// Timings
$little-interaction-duration: 100ms;
$little-interaction-timing-function: linear;
$site-header-navigation-animation-duration: 300ms;
$modal-opening-duration: 300ms;
$modal-closing-duration: 100ms;
$drawer-timing-duration: 300ms;
$drawer-timing-function: ease-in-out;


$site-header-menu-duration: 300ms;
