// Viewports
$wide-mobile-width: 400px;
$narrow-tablet-width: 660px;
$tablet-width: 768px;
$wide-tablet-width: 980px;
$laptop-width: 1240px;

// Fonts
$main-font-family: "Merriweather", "Times New Roman", serif;

// Sizes
$centerer-max-width: 1160px;

// Timings
$little-interaction-duration: 100ms;
$little-interaction-timing-function: linear;
$burger-menu-animation-duration: 250ms;
$modal-animation-duration: 300ms;
